<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <input type="text" class="scanner-input" />
  </body>
  <script>
    // document.addEventListener('keypress', event => {
    //   console.log(event);
    // });
    $(document).ready(function () {
      $('.scanner-input')
        .focus()
        .on('input', function () {
          let barcode = $(this).val();
          console.log(barcode);
          $(this).val('');
        })
        .blur(function () {
          $(this).focus();
        });
    });
  </script>
</html>
